# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ==============================
# Virtual Environment
# ==============================
en/
venv/
.venv/

# ==============================
# Environment Variables
# ==============================
.env



# ==============================
# OS / IDE
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==============================
# ESP32 / Serial
# ==============================
*.bin
*.elf

# ==============================
# Data / Cache
# ==============================
.cache/
*.cache

# ==============================
# Images & Videos (optional)
# ==============================
*.mp4
*.avi
*.jpg
*.png
